<%= form_for team, :html => {  } do |f| %>
  <div class="well">
    <%= render 'shared/errors', :m => team %>
    <div class="row form-inline">
      <p class="span6">
        <%= f.text_field :name, :class => 'span4 required', :placeholder => 'name', :required => 'required' %>
      </p>
      <p class="span5">
          <%= f.label :role_id, "Permissons" %>
          <%= select :team, :role_id, Team::ROLES %>
      </p>
    </div>
  </div>
  <div class="row">
    <div id="team-list" class="span6 team-list">
      <h4>Team members</h4>
      <div class="well">
        <ul><% team.users.each do |u| %><li data-id="<%= u.id %>"><a class="close" title="remove">&times;</a> <%= u.full_name %></li><% end %></ul>
        <input type="search" placeholder="Search for a user" />
        <%= f.hidden_field :user_tokens %>
      </div>
    </div>
    <div id="project-list" class="span6 team-list">
      <h4>Projects</h4>
      <div class="well">
        <ul><% team.projects.each do |p| %>
          <li data-id="<%= p.id %>"><a class="close" title="remove">&times;</a> <%= p.name %> </li>
        <% end %></ul>
        <input type="search" placeholder="Search for a project" />
        <%= f.hidden_field :project_tokens %>
      </div>
    </div>
  </div>
  <% if can? :manage, team %>
  <p class="form-actions">
    <button class="btn btn-primary">Save</button>
    <%= link_to "Cancel", teams_path, :class => 'btn' %>
    <%= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, confirm_destroy_team_path(team), :class => 'btn btn-danger delete' unless team.new_record? %>
  </p>
  <% end %>
<% end %>
<%= content_for :js do %>
  <script>USER_SEARCH_URL='<%= search_users_path %>', PROJECT_SEARCH_URL='<%= search_projects_path %>';</script>
  <%= javascript_include_tag 'app/teams' %>
<% end %>