<%= form_for @team do |f| %>
  <%= render 'shared/errors', :m => @team %>
  <p>
    <%= f.label :name %> <span class="required">*</span><br />
    <%= f.text_field :name, :class => 'required', :placeholder => 'title', :required => 'required' %>
  </p>
  <p>
    <%= f.label :user_tokens, "Users" %><br />
    <%= f.text_field :user_tokens, "data-pre" => @team.users.map(&:attributes).to_json %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= content_for :additional_js do %>
  <%= javascript_include_tag 'jquery/jquery.tokeninput' %>
  <%= javascript_include_tag 'behaviors/teams' %>
<% end %>