<% title "Teams" %>

<div class="row">
  <div class="span10">
    <h1>Teams</h1>
  </div>
  <div class="span2">
    <% if can? :create, @team %>
      <%= link_to "add a team", new_team_path, :class => "btn btn-primary", :title => "add a team" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="entry-info">
      <%= page_entries_info @teams, :model => 'team' %>
    </div>
    <%= will_paginate @teams, :previous_label => '&lt; previous', :next_label => 'next &gt;' %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul class="index index-tabs index-stacked">
      <% @teams.each do |e| %>
      <li>
      <%= link_to e.name, edit_team_path(e) %>
      </li>
      <% end %>
    </ul>
    <%= will_paginate @teams, :previous_label => '&lt; previous', :next_label => 'next &gt;' %>
  </div>
</div>
