<%= form_for entry, :html => { :class => 'well' } do |f| %>
  <%= render 'shared/errors', :m => entry %>
  <p>
    <%= f.text_field :title, :class => 'span4 required', :placeholder => 'title', :required => 'required' %>
  </p>
  <p>
    <%= f.text_field :username, :placeholder => 'username', :class => 'span4' %>
  </p>
  <p>
    <%= f.text_field :password, :placeholder => 'password', :class => 'span4' %>
  </p>
  <p>
    <span class="help-block">add 'http://'</span> <%= f.text_field :url, :placeholder => 'url', :type => 'url', :class => 'span3' %>
  </p>
  <p>
    <%= f.text_area :notes, :placeholder => 'notes', :class => 'span6' %>
  </p>
  <p>
    <%= f.text_field :expiration, :placeholder => 'expiration date' %>
  </p>
  <p>
    <% unless entry.attachment_uid.blank? %>
    <%= link_to "<i class=\"icon-download-alt\"></i> #{entry.attachment_name}".html_safe, entry.attachment.url, :target => "_blank" %><br/>
    <% end %>
    <%= f.file_field :attachment %><br />
    <%= f.hidden_field :retained_attachment %>
    <label class="checkbox"><%= f.check_box :remove_attachment %> remove?</label>
  </p>
  <p class="form-actions">
    <button class="btn btn-primary">Save</button>
    <%= link_to "Cancel", entries_path, :class => 'btn' %>
    <%= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, confirm_destroy_entry_path(entry), :class => 'btn btn-danger' %>
  </p>
<% end %>
<%= content_for :js do %>
  <%= javascript_include_tag 'jquery/jquery.tokeninput', 'app/entries' %>
<% end %>