<%= form_for entry, :html => {  } do |f| %>
<div class="well">
  <%= render 'shared/errors', :m => entry %>
  <p>
    <%= f.text_field :title, :class => 'span4 required', :placeholder => 'title', :required => 'required' %>
  </p>
  <p>
    <%= f.select :project_id, current_user.projects.skinny.ordered.collect {|c| [ c.name, c.id ] }, { }, :class => 'chosen' %>
  </p>
  <p>
    <%= f.text_field :username, :placeholder => 'username', :class => 'span4 clippy' %><%= clippy entry.username, 'username' %>
  </p>
  <p class="input-append">
    <%= f.text_field :password, :placeholder => 'password', :class => 'span4 clippy' %><a href="#" class="add-on" rel="tooltip" title="Generate a password"><i class="icon-leaf"></i></a> <%= clippy entry.password, 'password' %>
  </p>
  <p>
    <%= f.text_field :url, :placeholder => 'url', :type => 'text', :class => 'span3 clippy' %> <%= clippy entry.url, 'url' %>
  </p>
  <p>
    <%= f.text_area :tag_list, :placeholder => 'tags', :class => 'span6 small' %><br/> <span class="help-block">(comma separated)</span>
  </p>
  <p>
    <%= f.text_area :notes, :placeholder => 'notes', :class => 'span6' %>
  </p>
  <p>
    <%= f.text_field :expiration, :placeholder => 'expiration date' %>
  </p>
  <% unless entry.attachment_uid.blank? %>
  <p>
      <%= link_to "<i class=\"icon-download-alt\"></i> #{entry.attachment_name}".html_safe, entry.attachment.url, :target => "_blank" %><br/>
      <label class="checkbox"><%= f.check_box :remove_attachment %> remove?</label>
  </p>
  <% end %>
  <p>
    <%= f.file_field :attachment, :class => 'attachment' %><br />
    <%= f.hidden_field :retained_attachment %>
  </p>
</div>
  <p class="form-actions">
    <button class="btn btn-primary">Save</button>
    <%= link_to "Cancel", entries_path, :class => 'btn' %>
    <%= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, confirm_destroy_project_entry_path(entry.project, entry), :class => 'btn btn-danger delete' unless entry.new_record? %>
  </p>
<% end %>
<%= content_for :js do %>
  <%= javascript_include_tag 'app/entry' %>
<% end %>
