<% title "Secrets" %>

<div class="row">
  <div class="span10">
    <h1>Secrets</h1>
  </div>
  <div class="span2">
    <%= link_to "add a secret", new_entry_path, :class => "btn btn-primary", :title => "add a secret" %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= page_entries_info @entries, :model => 'entry' %>
    <%= will_paginate @entries, :previous_label => '&lt; previous', :next_label => 'next &gt;' %>
  </div>
</div>

<div class="row">
  <div class="span8">
    <ul class="index index-tabs index-stacked">
      <% @entries.each do |e| %>
      <li id="<%= e.id %>">
      <%= link_to e.title, project_entry_path(e.project, e) %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="span4">
    <ul class="pager tags">
      <% tag_cloud(@tags, %w()) do |tag, css_class| %>
        <li>
        <% if !@tag_name.blank? && @tag_name == tag.name %>
        <%= link_to tag.name, entries_path, :class => "on" %>
        <% else %>
        <%= link_to tag.name, tagged_entries_path(tag.name) %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= content_for :js do %>
<% unless @tag_name.blank? %>
<script>var FILTER_BY_TAG = true, TAG = '<%= @tag_name %>';</script>
<% end %>
<%= javascript_include_tag 'app/entries' %>
<script type="text/template" id="list-template">
  <li id="<%%= id %>"><a href="/projects/<%%= project_guid %>/entries/<%%= guid %>"><%%= title %></a></li>
</script>
<%= render 'entry_template' %>
<% end %>