<% title "Secrets" %>

<div class="row">
  <div class="span10">
    <h1>Secrets</h1>
  </div>
  <div class="span2">
    <%= link_to "create a secret", new_entry_path, :class => "btn btn-primary", :title => "create a secret" %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= page_entries_info @entries, :model => 'entry' %>
    <%= will_paginate @entries, :previous_label => '&lt; previous', :next_label => 'next &gt;' %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul class="index index-tabs index-stacked">
      <% @entries.each do |e| %>
      <li id="<%= e.id %>">
      <%= link_to e.title, project_entry_path(e.project, e) %>
      </li>
      <% end %>
    </ul>
    <%= will_paginate @entries, :previous_label => '&lt; previous', :next_label => 'next &gt;' %>
  </div>
</div>
<%= content_for :js do %>
  <%= javascript_include_tag 'app/entries' %>
  
  <script type="text/template" id="entry-template">
  <div class="deets">
    <a href="#" class="close" title="close">×</a>
    <p><%%= title %></p>
    <%% if (username) { %>
    <p><strong>Username:</strong> <%%= username %></p>
    <%% } %>
    <%% if (password) { %>
    <p><strong>Password:</strong> <%%= password %> </p>
    <%% } %>
    <%% if (url) { %>
    <p><strong>URL:</strong> <%%= url %></p>
    <%% } %>
    <%% if (expiration) { %>
    <p><strong>Expiration:</strong> <%%= expiration %></p>
    <%% } %>
    <%% if (notes) { %>
    <hr/>
    <p><strong>Notes:</strong> <%%= notes %></p>
    <%% } %>
    <a href="<%%= path %>/edit" class="btn">Edit</a>
  </div>
  </script>
<% end %>