<%= form_for user, :html => { :autocomplete => :off, :multipart => true } do |f| %>
  <%= render 'shared/errors', :m => user %>
  <p>
      <%= f.text_field :email, :required => 'required' %></p>
  <p>
      <%= f.text_field :first_name, :required => 'required', :placeholder => "first name" %></p>
  <p>
      <%= f.text_field :last_name, :required => 'required', :placeholder => "last name" %></p>
  <p>
    <%= f.password_field :password, :placeholder => 'password' %></p>
  <p>
    <%= f.password_field :password_confirmation, :placeholder => 'password confirmation' %></p>
  <p>
    <%= f.label :team_tokens, "Teams" %>
    <%= f.text_field :team_tokens, "data-pre" => user.teams.map(&:attributes).to_json %>
  </p>
  <p>
    <button class="btn btn-primary" type="submit">Save</button>
  </p>
<% end %>
<%= content_for :js do %>
  <%= javascript_include_tag 'libs/jquery.tokeninput', 'app/users' %>
<% end %>