<%= form_for user, :html => { :autocomplete => :off, :multipart => true } do |f| %>
  <div class="well">
    <%= render 'shared/errors', :m => user %>
    <% unless user.new_record? %>
    <p><%= link_to gravatar_image_tag(user.email, :alt => "Click to change", :gravatar => { :size => 64 }, :class => 'ava').html_safe, "http://gravatar.com",  :rel => "tooltip", :title => "Click to change" %> <%= user.full_name %></p>
    <% end %>
    <div class="row">
      <div class="span5">
        <p>
            <%= f.text_field :email, :required => 'required', :placeholder => 'email', :type => 'email' %></p>
        <p>
            <%= f.text_field :first_name, :required => 'required', :placeholder => "first name" %></p>
        <p>
            <%= f.text_field :last_name, :required => 'required', :placeholder => "last name" %></p>
        <p>
          <%= f.password_field :password, :placeholder => 'password' %></p>
        <p>
          <%= f.password_field :password_confirmation, :placeholder => 'password confirmation' %></p>
        <p>
          <%= time_zone_select(:user, :time_zone) %>
        </p>
        <% if current_user.admin? %>
        <p>
          <label class="checkbox"><%= f.check_box :administrator %> Administrator?</label>
        </p>
        <% end %>
      </div>
      <% if can? :manage, user.teams %>
      <div id="team-list" class="span5 team-list">
        <h4>Teams</h4>
        <div class="well">
          <ul>
            <% user.teams.ordered.each do |t| %>
              <li data-id="<%= t.id %>"><%= t.name %> <a class="close" title="remove">&times;</a></li>
            <% end %>
          </ul>
          <%= f.hidden_field :team_tokens %>
          <input type="search" placeholder="Search for a team" />
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% if user == current_user || (can? :manage, user) %>
  <p class="form-actions">
    <button class="btn btn-primary" type="submit">Save</button>
    <%= link_to "Cancel", users_path, :class => 'btn' %>
    <%= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, confirm_destroy_user_path(user), :class => 'btn btn-danger delete' unless user.new_record? %>
  </p>
  <% end %>
<% end %>
<%= content_for :js do %>
<script>var TEAM_SEARCH_URL = '<%= search_teams_path %>';</script>
<%= javascript_include_tag 'app/users' %>
<% end %>
