<% title "Users" %>

<div class="row">
  <div class="span10">
    <h1>Users</h1>
  </div>
  <div class="span2">
    <%= link_to "add a user", new_user_path, :class => "btn btn-primary", :title => "add a user" %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <%= page_entries_info @users, :entry_name => 'user' %>
    <%= will_paginate @users, :previous_label => '&lt; previous', :next_label => 'next &gt;' %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul class="index index-tabs index-stacked">
      <% @users.each do |e| %>
      <li>
        <%= link_to e.full_name, edit_user_path(e) %>
      </li>
      <% end %>
    </ul>
    <%= will_paginate @users, :previous_label => '&lt; previous', :next_label => 'next &gt;' %>
  </div>
</div>
