<%= link_to "create a user", new_entry_path, :class => "button", :title => "create an entry"%>
<%= page_entries_info @entries, :entry_name => 'user' %>
    <%= will_paginate @entries, :previous_label => '&lt; previous',
    :next_label => 'next &gt;', :separator => ' | ' %>
<ul class="index-list">
  <% @users.each do |e| %>
  <li><%= truncate(e.full_name, :length => 54) %>
  <span class="controls"><%= link_to 'view', user_path(e) %>
    | <%= link_to 'edit', edit_user_path(e) %>
    | <%= link_to 'delete', confirm_destroy_user_path(e) %>
  </span>
  </li>
  <% end %>
</ul>
<%= will_paginate @entries, :previous_label => '&lt; previous',
    :next_label => 'next &gt;', :separator => ' | ' %>