<div id="foot-wrap">
<footer>
&copy;<%= DateTime.now.strftime("%Y") %> Namely, Inc. <%= link_to "About Us", "/about" %> <%= link_to "Contact Us", "/contact" %>
 <%= link_to "Terms", "/terms" %> <%= link_to "Privacy", "/privacy" %> <%= link_to "Support", "/support" %>
</footer>
</div>