<meta charset="utf-8" />
<title><%= content_for?(:title) ? yield(:title) : "Passkeep" %></title>
<meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : "" %>" />
<%= csrf_meta_tag %>
<link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag 'application', :media => 'all' %>
<%= javascript_include_tag 'libs/modernizr.min' %>