<%= form_for project, :html => {  } do |f| %>
<div class="well">
  <%= render 'shared/errors', :m => project %>
  <p>
    <%= f.text_field :name, :class => 'span4 required', :placeholder => 'name', :required => 'required' %>
  </p>
</div>
  <p class="form-actions">
    <button class="btn btn-primary">Save</button>
    <%= link_to "Cancel", projects_path, :class => 'btn' %>
    <% unless project.new_record? %>
    <%= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, confirm_destroy_project_path(project), :class => 'btn btn-danger' %>
    <%= link_to '<i class="icon-plus-sign icon-white"></i> Add entry'.html_safe, new_entry_path, :class => 'btn btn-primary' %>
    <% end %>
  </p>
<% end %>
<%= content_for :js do %>
  <%= javascript_include_tag 'libs/jquery.tokeninput', 'app/projects' %>
<% end %>