<%= form_for project, :html => {  } do |f| %>
  <div class="well">
    <%= render 'shared/errors', :m => project %>
    <div class="row form-inline">
      <p class="span6">
        <%= f.text_field :name, :class => 'span4 required', :placeholder => 'name', :required => 'required' %>
      </p>
      <!-- p class="span5">
          <%= f.label :status_id, "Status" %>
          <%= select :project, :status_id, Project::STATUSES %>
      </p -->
      <% if project.new_record? %>
      <p class="span6">
          <%= f.label :default_team_id, "Add to team" %>
          <%= f.select :default_team, current_user.teams.ordered.collect {|c| [ c.name, c.id ] } %>
      </p>
      <% end %>
    </div>
  </div>
  <% unless project.new_record? %>
    <% if can? :manage, project.teams %>
      <a href="#" id="edit-teams">Edit Teams</a>
      <div id="team-list" class="team-list">
        <h4>Teams</h4>
        <div class="well">
          <ul>
            <% project.teams.ordered.each do |t| %>
              <li data-id="<%= t.id %>"><%= t.name %> <%= '<a class="close" title="remove">&times;</a>'.html_safe unless t.master %></li>
            <% end %>
          </ul>
          <%= f.hidden_field :team_tokens %>
          <input type="search" placeholder="Search for a team" />
        </div>
      </div>
    <% end %>
  <% end %>
  <p class="form-actions">
    <button class="btn btn-primary">Save</button>
    <% unless project.new_record? %>
    <%= link_to '<i class="icon-plus-sign icon-white"></i> Add a secret'.html_safe, new_entry_path(:project => project.guid), :class => 'btn btn-primary' %>
    <% end %>
    <%= link_to "Cancel", projects_path, :class => 'btn' %>
    <% unless project.new_record? %>
    <%= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, confirm_destroy_project_path(project), :class => 'btn btn-danger delete' %>
    <% end %>
  </p>
<% end %>
<%= content_for :js do %>
  <script>var TEAM_SEARCH_URL = '<%= search_teams_path %>';</script>
  <%= javascript_include_tag 'app/projects' %>
<% end %>
