<% title "Editing #{@project.name} "%>

<h1>Editing <%= @project.name %></h1>

<%= render 'form', :project => @project %>

<div class="row">
  <div class="span8">
    <ul class="index index-tabs index-stacked">
      <% @project.entries.skinny.ordered.each do |e| %>
      <li id="<%= e.id %>" class="<%= e.tag_list %>">
      <%= link_to e.title, project_entry_path(e.project, e) %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="span4">
    <ul class="pager tags">
      <% tag_cloud(@tags, %w()) do |tag, css_class| %>
        <li data-name="<%= tag.name %>">
        <%= link_to tag.name, tagged_entries_project_path(@project) %>
        </li>
      <% end %>
    </ul>
    &nbsp;
    <h5>People with Access</h5>
    <% @project.users.each do |u| %>
    <%= u.full_name %><br/>
    <% end %>
  </div>
</div>
<%= content_for :js do %>
<script>var TAGGED_PATH = '<%= tagged_entries_project_path @project, "json" %>';</script>
<%= javascript_include_tag 'app/entries' %>
<%= render 'entries/entry_template' %>
<% end %>