<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <%= render 'shared/head' %>
    <%= yield :css %>
</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>
    <% if notice %><p class="message notice"><%= notice %></p><% end %>
    <% if alert %><p class="message alert"><%= alert %></p><% end %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </div>
<%= render 'shared/javascripts' %>
<%= yield :js %>
</body>
</html>
